﻿*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

form{
    background-color: #E6E6FA;
    border-radius: 5px;
    border: 1px solid #00000066;
    padding: 20px;
    text-align: center;
    min-width: 20%;
    backdrop-filter: drop-shadow(5px);
}


input{
    margin-left: 10px;

}

.divisao{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}

.btnPadrao{
    padding: 6px;
}

.tabelaPadrao{
    width: 30%;
}